/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  min-width: 100px;
  max-width: 1300px;
  background: #3a3a3a;
  margin: 0 auto;
  text-align: center;
  color: white;
  line-height: 1.2rem;
}
.container .logo {
  max-width: 40%;
  max-height: 150px;
}
.container a {
  margin: 15px;
}
.container h2 {
  font-size: 2rem;
  margin: 5px;
}
.container h3 {
  font-size: 1.5rem;
  margin: 10px;
}
.container p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin: 10px;
}
.container img {
  max-width: 95%;
  height: auto;
  margin: 15px auto;
  border-radius: 10px;
}
@media (min-width: 750px) {
  .container img {
    max-height: 500px;
  }
}
.container section {
  margin: 15px auto;
  padding: 15px 0;
  background: #556f7e;
  width: 95%;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}
.container ul {
  text-align: left;
  font-size: 1.2rem;
  list-style: disc;
  padding: 15px;
}
.container ul li {
  text-align: left;
  margin: 10px;
}
.container .sign-up {
  text-align: center;
}
.container .sign-up button {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  background: #62cdff;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 1s;
}
@media (min-width: 1200px) {
  .container .sign-up button {
    max-width: 30%;
  }
}
.container .sign-up button:hover {
  transform: scale(1.2);
  background: black;
  color: #62cdff;
  cursor: pointer;
}
.container .testimonials {
  display: flex;
  flex-direction: column;
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #f3f3f3;
}
header {
  display: flex;
  flex-direction: column;
  background: #000000cc;
}
@media (min-width: 1000px) {
  header header {
    border-radius: 10px;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1.5rem;
  transition: 1s;
}
header nav a:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #62cdff;
}
footer {
  background: #262626;
}
footer nav {
  display: flex;
  justify-content: space-around;
}
footer nav a {
  text-decoration: none;
  color: #62cdff;
  font-size: 1rem;
  transition: 1s;
}
footer nav a:hover {
  transform: scale(1.2);
}
@media (min-width: 750px) {
  .img-carousel {
    height: 600px;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel img {
  max-height: 500px;
  max-width: 80%;
  margin: auto auto;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #f3f3f3;
  background-color: #2a2a2a;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  opacity: 0.3;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: black;
  background-color: #62cdff;
  border: 2px solid #f3f3f3;
  opacity: 0.8;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel .item {
  display: none;
  width: 100%;
  flex-direction: column;
  opacity: 0;
}
.carousel .card-container .card {
  display: none;
  width: 100%;
  flex-direction: column;
  opacity: 0;
}
.tabs {
  width: 95%;
  border-radius: 10px;
}
.tabs .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  background-color: #62cdff;
  border-radius: 10px;
  user-select: none;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #62cdff;
  color: white;
  cursor: pointer;
  user-select: none;
}
@media (min-width: 750px) {
  .tabs .tabs-link {
    width: 30%;
  }
}
.tabs .tabs-link:hover {
  background-color: black;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #f3f3f3;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
