footer{
    background: @footer-bg;
    
    display: flex;
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:30%;

        a{
            text-decoration: none;
            color: @btn-bg-color;
            font-size: 1rem;
            transition: 1s;

            &:hover{
                transform: scale(1.2)
            }
        }
    }
}