header{
    display: flex;
    flex-direction: column;
    background: @header-bg;

    @media (min-width: 1000px) {
        header{
            border-radius: 10px;
        }
    }


    img{
        max-width: 40%;
        max-height: 150px;
        margin: 0 auto;
    }
    
    nav{
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            color: @border-color;
            font-size: 1.5rem;
            transition: 1s;

            &:hover{
                transform: scale(1.2);
                cursor: pointer;
                color: @btn-bg-color;
            }
        }
    }
}