/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ~~~~~~~~~~~~~~~<END CSS RESET>~~~~~~~~~~~~~~~~~~~~~~~~~~
.container{
    min-width: 100px;
    max-width: 1500px;
    background: rgb(42, 42, 42);
    margin: 0 auto;
    text-align: center;
    color: white;

    a{
        margin: 15px;
    }
    
    h2{
        font-size: 2rem;
        margin: 5px;
    }

    h3{
        font-size: 1.5rem;
        margin: 10px;
    }
    
    p{
        font-size: 1.2rem;
        line-height: 1.7rem; 
        margin: 10px;
    }
    
    img{
        max-width: 95%;
        height:auto;
        margin: 15px auto;
        border-radius: 10px;
    }
    @media (min-width: 1000px) {
        img{
            max-height: 500px;
        }
    }

    
    section{
        margin: 15px auto;
        padding: 15px 0;
        background: rgb(85, 111, 126);
        width: 95%;
        border: 1px solid @border-color;
        border-radius: 10px;
        // box-shadow: -1px 10px teal;
    }

    @media (min-width: 1000px) {
        .who-we-are{
            img{
                display: none;
            }
        }
    }


    ul{
        text-align: left;
        font-size: 1.2rem;
        list-style: disc;
        padding: 15px;
        
        li{
            text-align: left;
            margin: 10px;
        }
    }
    
    .sign-up{
        text-align: center;
        button{
            width: 80%;
            height:70px;
            margin: 0 auto;
            border: 1px solid @border-color;
            background: @btn-bg-color;
            font-size: 1.5rem;
            border-radius: 10px;
            transition: 1s;
            
            &:hover{
                transform: scale(1.2);
                background: black;
                color: @btn-bg-color;
                cursor: pointer;
            }
        }
    }
    .testimonials{
        display: flex;
        flex-direction: column;

        .testimony{
            display: none;
            width:100%;
            flex-direction: column;
            opacity: 0; 
        }
    }
}
// ~~~~~~~~~~~~~~~<END INDEX GENERAL STYLES>~~~~~~~~~~~~~~~~~~~~~
@import './variables';
@import './mixins';
@import './header';
@import './footer';
// ~~~~~~~~~~~~~~~<END LESS ASSET IMPORTS>~~~~~~~~~~~~~~~
@import './components/Carousel/Carousel';