.img-carousel{
    @media @tablet{
        height: 700px;
    }
}

.review{
    min-height: 100px;
    max-width: 50%;
    padding-bottom: 30px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 15px auto;
    @media @desktop{
        max-width: 40%;
    }
}